@using BlogWebproject.Models
@model List<Blog>
@{
    ViewBag.Title = "Blogdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>



    @foreach (var x in Model)
    {
        <header class="masthead" style="background-image: url('@x.BlogImage')">
            <div class="overlay">

            </div>
            <div class="container">
                <div class="row">



                    <div class="col-lg-8 col-md-10 mx-auto">


                        <div class="post-heading">
                            <h1>@x.BlogTitle</h1>
                            <h2 class="subheading">@Html.Raw(x.BlogText.Substring(0,75))</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">Doğanay Üzüm</a>
                                on
                            </span>
                        </div>


                    </div>

                </div>
            </div>

        </header>

       
            <div class="container">
                <div class="row">
                  
 
                    <p>@Html.Raw(x.BlogText)</p>

                  
                </div>
            </div>
  
    }
</div>