
@model  BlogWebproject.Models.Blog

@{
    ViewBag.Title = "BlogShown";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="container-fluid">
        <h1 class="mt-4">Blog Update</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Admin/Index">Admin</a></li>
            <li class="breadcrumb-item active">Blog Update</li>
        </ol>


    </div>

    @using (Html.BeginForm("Blogupdate", "Admin", FormMethod.Post))
    {
        <div class="form-group" hidden>
            <label>Blog ID</label>
            @Html.TextBoxFor(x => x.BlogID, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            <label>Blog Title</label>
            @Html.TextAreaFor(x => x.BlogTitle, 2, 1, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <label for="basic-url" class="form-label">Your vanity URL</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">https://example.com/images/</span>
                <input type="text" class="form-control" id="basic-url" name="BlogImage" aria-describedby="basic-addon3" >
            </div>
        </div>

        <div class="form-group">
            <label>Blog Text</label>
            @Html.TextAreaFor(x => x.BlogText, 7, 1, new { @class = "form-control", id = "summernote" })
        </div>
        <div class="form-group">
            <label>Blog Date</label>
            <input type="date" name="BlogDatetime" required>

        </div>


        <button class="btn btn-outline-success" type="submit" onclick="alert('Updating current blog are you submitted ?')"><i class="fas fa-wrench"></i> Update Blog</button>
    }

</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>



<script>
    $('#summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 120,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>
