
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container">
    <div class="container-fluid">
        <h1 class="mt-4">Welcome to Admin Panel</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Admin/Index">Admin</a></li>
            <li class="breadcrumb-item active">Charts</li>
        </ol>

     

        <div class="album py-5 bg-light">
            <div class="container">
               
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="~/Content/Admin/Blog.png" style="height: 225px; width: 100%; display: block;">
                            <div class="card-body">
                                <p class="card-text text-dark">Total Blog : @ViewBag.bn</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <small class="text-muted">Blog</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="~/Content/Admin/About.png" style="height: 225px; width: 100%; display: block;">
                            <div class="card-body">
                                <p class="card-text text-dark">Total About Text : @ViewBag.ta</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <small class="text-muted">Blog</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="~/Content/Admin/Mail.png" style="height: 225px; width: 100%; display: block;">
                            <div class="card-body">
                                <p class="card-text text-dark">Total Blog : @ViewBag.tm</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <small class="text-muted">Blog</small>
                                </div>
                            </div>
                        </div>
                    </div>










                </div>
            </div>
        </div>

    </div>
 
        

    </div>
    

